.env
.env.*
!.env.example

**/__pycache__/
.pytest_cache/
.coverage
coverage.xml
htmlcov/

*.pyc
*.pyo
*.pyd
*.log
*.db
*.sqlite
*.sqlite3

.python-version
.venv/
venv/
.vscode/
.idea/
dist/
build/
*.egg-info/
.mypy_cache/
.ruff_cache/
.cache/
.coverage.*

var/
.DS_Store
